{% extends "../main.html" %}

{% block header %}
<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
{% end %}

{% block title %}Registration{% end %}

{% block content %}
  <h2>Register a New Account</h2>
    <div class="well">
      <form action="/register" method="post" autocomplete="off">  
        {% raw xsrf_form_html() %}
        <fieldset>
          <legend>{{ message }}</legend>
          <p>
            <br />
            <label for="username">Username</label>
            <input placeholder="Username" type="text" name="username" id="username" rel="popover" data-content="Your username must be 3-15 alpha-numeric characters" data-original-title="Username Selection" />
          </p>
          <p>
            <label for="pass1">Password</label>
            <input placeholder="Password" type="password" name="pass1" id="pass1" rel="popover" data-content="Your password must be at least 12 characters long" data-original-title="Password Security" />
          </p>
          <p>
            <label for="pass2">Confirm Password</label>
            <input placeholder="Confirm Password" type="password" name="pass2" id="pass2" />
          </p>
        </fieldset>
        <p class="submit">
          <button class="btn btn-primary btn-large" data-loading-text="loading..." type="submit">&nbsp;Register Account&nbsp;</button>
        </p>
      </form>
      <script>
        document.getElementById('username').focus();
        $(function ()
        {
          $("#pass1").popover({placement:'right'});
          $("#username").popover({placement:'right'});
        });
      </script>
    </div>
{% end %}