{% extends "../main.html" %}

{% block title %}Welcome{% end %}

{% block content %}
<div class="well" style="background-image: url(/static/droid.jpg); background-size:contain; background-size:100%;">
    <h1>Yoshimi: Cooking Tutorials</h1>
        <p>
        	High quality recipes at low quality prices.
        </p>
        <p>
        	<a class="btn btn-primary btn-large" href="/tour">Take the Tour &raquo;</a>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br /> <!-- This is easier than fixing the css, okay I'm a little lazy -->
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </p>
</div>
{% end %}