<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
           <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </a>
             <a class="brand" href="/">YoshimiControl</a>
            <div class="nav-collapse">
                <ul class="nav">
                	{% if uri == "/" %}
                    	<li class="active">
                    {% else %}
                    	<li>
                    {% end %}
                        <a href="/">Home</a>
                    </li>

                    {% if uri == "/login" %}
                    	<li class="active">
                    {% else %}
                    	<li>
                    {% end %}
                    	<a href="/login">Login</a>
                    </li>

                    {% if uri == "/register" %}
                    	<li class="active">
                    {% else %}
                    	<li>
                    {% end %}
                        	<a href="/register">Register</a>
                    </li>

                    {% if uri == "/about" %}
                    	<li class="active">
                    {% else %}
                        <li>
                    {% end %}
                    	<a href="/about">About</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
         </div>
    </div>
</div>