<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
           <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </a>
             <a class="brand" href="/">YoshimiControl</a>
            <div class="nav-collapse">
                <ul class="nav">
                    {% if uri == "/home" %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% end %}
                        <a href="/home">Home</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
            <!-- User Button -->
            <div class="btn-group pull-right">
                <a class="btn btn-primary" href="/settings"><i class="icon-user icon-white"></i>&nbsp;{{ user_name }}&nbsp;</a>
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/settings"><i class="icon-pencil"></i>&nbsp;Settings&nbsp;</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout"><i class="icon-ban-circle"></i>&nbsp;Logout&nbsp;</a></li>
                </ul>
            </div>
         </div>
    </div>
</div>