{% extends "../main.html" %}

{% block title %}Home{% end %}

{% block content %}
	<script>
		function get_details(bot_id) {
			$.get('/ajax/botdetails?bot_id=' + bot_id, function(data) {
			  	document.getElementById('bot_details').innerHTML = data;
			});
		}
		function set_contact(contact_id) {
			document.getElementById('sms-contact').value = contact_id;
		}
	</script>
	<h1>Yoshimi Botnet Command &amp; Control</h1>
	<br />
	<div id="outer_details" class="well animated fadeIn">
		<div id="bot_details">
			<center>
				<strong>Welcome back commander, please select a bot from the list on the left.</strong>
			</center>
		</div>
	</div>
{% end %}